body{
    background-color: rgb(31, 21, 21);
}
form{
    text-align: center;
}
h2{
    font: 2em Fantasy;
    text-align: center;
    background-color: rgb(199, 199, 96);
}
label{
    width: 40%;
    color: white;
}
input{
    width: 40%;
    font: 1em Monospace;
    text-align: center;
}
textarea{
    width: 40%;
}
.comment{
    width: 20%;
}
.submit{
    width: 30%;
    font: 1em Fantasy;
    text-align: center;
    color: black;
    background-color: rgb(199, 199, 96);
    border: 0cm;
    
}
.submit:hover{
    width: 30%;
    font: 1em Fantasy;
    text-align: center;
    color: white;
    background-color: black;
    border: 1px solid;
    
}




