body{
    background-color: rgb(70, 70, 70);
}
form{
    text-align: center;
}
h2{
    font: 1em Fantasy;
    font-size: 2em;
    text-align: center;
    background-color: rgb(199, 199, 96);
}
label{
    color: white;
}
input{
    width: 40%;
    font: 1em Monospace;
}
.comment{
    width: 20%;
}
.submit{
    width: 30%;
    font: 1em Fantasy;
    text-align: center;
    color: black;
    background-color: rgb(199, 199, 96);
    border: 0cm;
    
}
.submit:hover{
    width: 30%;
    font: 1em Fantasy;
    text-align: center;
    color: white;
    background-color: black;
    border: 0cm;
    
}




